<li class="todo <%= todo.attr("complete") ? "done" : "" %> <%= todo.attr("editing") ? "editing" : "" %>">
	<div class="view" <%= (el)-> can.data(el, 'todo', todo) %>>
		<input class="toggle" type="checkbox" <%= todo.attr("complete") ? "checked" : "" %>>
		<label><%= todo.attr("text") %></label>
		<a class="destroy"></a>
	</div>
	<input class="edit" type="text" value="<%= todo.attr("text") %>">
</li>