<section id="main" class="<%= stats.attr("total") > 0 ? "show" : "" %>">
	<input id="toggle-all" type="checkbox" <%= stats.attr("allCompleted") ? "checked" : "" %>>
	<label for="toggle-all">Mark all as complete</label>
	<ul id="todo-list">
		<% list(todos, function( todo ) { %>
			<li class="todo <%= todo.attr("complete") ? "done" : "" %> <%= todo.attr("editing") ? "editing" : "" %>">
				<div class="view" <%= (el)-> can.data(can.$(el), 'todo', todo) %>>
					<input class="toggle" type="checkbox" <%= todo.attr("complete") ? "checked" : "" %>>
					<label><%= todo.attr("text") %></label>
					<a class="destroy"></a>
				</div>
				<input class="edit" type="text" value="<%= todo.attr("text") %>">
			</li>
		<% }) %>
	</ul>
</section>
<footer id="stats" class="<%= stats.attr("total") > 0 ? "show" : "" %>">
	<a id="clear-completed">Clear <%= stats.attr("completed") %> completed item<%= stats.attr("completed") == 1 ? "" : "s" %></a>
	<div id="todo-count"><span><%= stats.attr("remaining") %></span> item<%= stats.attr("remaining") == 1 ? "" : "s" %> left</div>
</footer>